.hero {
  min-height: 1202px;
  padding: 162px 0 40px;
  background-image: url("@/assets/img/hero.png");
  background-position: center bottom;
  background-size: auto;
  background-repeat: no-repeat;
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 828px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--black);
    margin-bottom: 24px;

    span {
      color: var(--red);
    }
  }

  &__text {
    max-width: 516px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .btn {
    margin-right: auto;
  }

  @media (max-width: 1024.98px) {
    padding: 60px 0 0;
    min-height: 431px;
    background-image: none;
    &__container {
      padding-top: 80px;
      padding-bottom: 75px;
      background-image: url("@/assets/img/hero.png");
      background-position: right bottom;
      background-size: 415px auto;
      background-repeat: no-repeat;
    }
    &__content {
      width: 49.16%;
      margin: 0 auto 0 25px;
    }

    &__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 12px;
    }

    &__text {
      max-width: 330px;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 767.98px) {
    &__container {
      padding-top: 40px;
      padding-bottom: 266px;
      background-position: center bottom;
      background-size: auto 300px;
    }

    &__content {
      width: 100%;
      margin-left: 0;
    }

    &__title {
      font-size: 26px;
      line-height: 31px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      max-width: 291px;
    }
  }
}
